src/RoutingSample/AppPackages/
src/RoutingSample.Desktop/obj/
src/RoutingSample.Tests/bin/
src/RoutingSample.Tests/obj/
src/RoutingSample/bin/
src/RoutingSample/obj/
src/RoutingSample_WP/Bin/
src/RoutingSample_WP/obj/
src/RoutingSample.WinStore/obj/
src/RoutingSample.WinStore/bin/
src/RoutingSample.WinPhone/obj/
src/RoutingSample.WinPhone/Bin/
src/RoutingSample.Desktop/bin/
